

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
 box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: #f4f4f4;
}


  
